<%= turbo_frame_tag "rental_form" do %>
  <h3>Nowe wypożyczenie</h3>

  <%= form_with model: @rental, url: rentals_path(game_id: @game.id) do |f| %>

    <div class="mb-3">
      <%= f.label :user_id %>
      <%= f.collection_select :user_id, User.all, :id, :name, {}, class: "form-select" %>
    </div>

    <div class="mb-3">
      <%= f.label :rented_on %>
      <%= f.date_field :rented_on, class: "form-control" %>
    </div>

    <div class="mb-3">
      <%= f.label :returned_on %>
      <%= f.date_field :returned_on, class: "form-control" %>
    </div>

    <%= f.submit "Zapisz", class: "btn btn-success" %>

  <% end %>
<% end %>
